<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static "css/my-site.css" %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="home">
            <div class="container-fluid">
                <div class="home-title">Hello there, I'm Aya.</div>
                <div class="home-photo">
                    {% load static %}
                    <img src="{% static "img/me.jpg" %}" class="photo">
                </div>
                <div class="links">
                    <div class="homelink" id="about-me"><a href="..\aboutme">About Me</a></div>
                    <div class="homelink" id="faq"><a href="..\faq">F.A.Q</div>
                    <div class="homelink" id="contact"><a href="..\contacts">Contacts</div>
                    <div class="homelink" id="signup"><a href="..\register">Register</div>
                    <div class="homelink" id="schedule"><a href="..\schedule">Schedule</div>
                </div>
            </div>
        </div>
    </body>
</html>