{% extends 'base.html' %}

{% block content %}
    <div class="page-title" id="top-title">Contacts</div>
        <div class="page-box">
            <div class="container-fluid">
                <div class="row" id="contact-row1">
                    <i class="fa fa-whatsapp" id="wa"></i>
                    <div class="col">087863224506</div>
                    <i class="fa fa-envelope" id="email"></i>
                    <div class="col"">alya.zahra71@ui.ac.id</div>
                </div>
                <div class="row" id="contact-row2">
                    <i class="fa fa-gitlab" id="gitlab"></i>
                    <div class="col">alzahra</div>
                    <i class="fa fa-instagram" id="insta"></i>
                    <div class="col">alyazahra22</div>
                </div>
            </div>
        </div>
{% endblock %}