{% extends 'base.html' %}

{% block content %}
    <div class="page-title" id="top-title">My Schedule</div>
        <div class="page-box">
            <form method="POST" class="form-post" action="{%url 'schedule:saveschedule' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" formmethod="POST" formaction="{%url 'schedule:saveschedule' %}" class="save btn btn-primary">Add Schedule</button>
            </form>
        </div>
{% endblock %}