{% extends 'base.html' %}

{% block content %}
    <div class="page-title" id="top-title">My Schedule</div>
        <div class="page-box">
            <div class="cont">
                {% if schedule %}
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Activity</th>
                                    <th>Category</th>
                                    <th>Place</th>
                                    <th>Day</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in schedule %}
                                    <tr>
                                        <td>{{ data.activity }}</td>
                                        <td>{{ data.category }}</td>
                                        <td>{{ data.place }}</td>
                                        <td>{{ data.date|date:"l" }}</td>
                                        <td>{{ data.date }}</td>
                                        <td>{{ data.time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button class="save btn btn-primary" id="add-sch"><a href="{% url 'schedule:addschedule' %}">Add Schedule</a></button>
                    <button class="save btn btn-danger" id="dlt-sch"><a href="{% url 'schedule:deleteschedule' %}">Delete All</a></button>
                {% else %}
                    <div class="no-event">You have no activity</div>
                    <button class="save btn btn-primary" id="add-sch"><a href="{% url 'schedule:addschedule' %}">Add Schedule</a></button>
                {% endif %}
            </div>
        </div>
{% endblock %}