{% extends 'base.html' %}

{% block content %}
    <div class="page-title" id="top-title">
    	Frequently Asked
    	<br>Questions</br>
    </div>
    <div class="container-fluid">
        <div class="row" id="faq-row">
            <div class="col">
            	<div class="question">1. What's your favorite activity?</div>
            	<div class="answer">I love drawing.</div>
            </div>
            
            <div class="col">
            	<div class="question">2. Python or Java?</div>
            	<div class="answer">Java for sure.</div>
            </div>
        </div>
       	<div class="row" id="faq-row">
            <div class="col">
            	<div class="question">3.</div>
            	<div class="answer"></div>
            </div>
            
            <div class="col">
            	<div class="question">4.</div>
            	<div class="answer"></div>
            </div>
        </div>
        <div class="row" id="lastfaq-row">
            <div class="col">
            	<div class="question">5.</div>
            	<div class="answer"></div>
            </div>
            
            <div class="col">
            	<div class="question">6.</div>
            	<div class="answer"></div>
            </div>
        </div>
    </div>
{% endblock %}