.home {
    background-color: #C6E2FF;
    height: 100%;
    width: 100%;
    padding-top: 4%;
}

.container-fluid {
    margin: 0px;
}

.home-title {
    background-color: white;
    text-align: center;
    font-family: Roboto;
    font-weight: 200;
    padding-top: 0%;
    font-size: 5vw;
    box-shadow: 0vw 0.3vw 0.15vw #888888;
}

.photo {
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 0.25vw solid #000000;
}

.homelink {
    font-family: Roboto;
    font-weight: 200;
    font-size: 3vw;
    text-align: center;
    background-color: white;
    height: 5vw;
    width: 16vw;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5vw;
    box-shadow: 0vw 0.3vw 0.15vw #888888;
}

#schedule {
    margin-bottom: 4%;
}

html, body{
    margin: :0px;
    padding: 0px;
}

.top-page {
    background-color: white;
}

.page-title {
    text-align: center;
    font-family: Roboto;
    font-weight: 200;
    font-size: 4vw;
    color: #000000;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
}

#top-title {
    padding-top: 2%;
    margin-top: 8.5%;
}

.navbar-expand-sm {
    background-color: #94C8FF;
    padding: 1%;
    box-shadow: 0vw 0.3vw 0.15vw #888888;
}

.navbar-toggler {
    font-size: 2.5vw;
}

.navbar-toggler-icon {
    width: 5vw;
    height: 5vw;
}

.nav-link {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5vw;
    color: #000000;
}

.page-box {
    background-color: #C6E2FF;
    width: 100%;
    height: 100%;
    padding-top: 1.25%;
    margin-top: 1.25%;
    box-shadow: 0vw 0.3vw 0.15vw #888888;
}

.row {
    margin-top: 2%;
    margin-left: 4.5%;
}

.col {
    font-family: Roboto;
    font-weight: 300;
    color: #000000;
    font-size: 3vw;
}

#contact-row2 {
    margin-bottom: 4%;
}

#me-row {
    margin-top: 0%;
}

.fa {
    color: white;
    font-size: 4.5vw !important;
}

#email {
    font-size: 4vw !important;
}

#submit-btn {
    font-size: 2vw;
    margin-left: 43%;
    margin-bottom: 2%;
}

.btn-primary a {
    color: #FFFFFF !important;
}

.btn-danger a {
    color: #FFFFFF !important;
}

#darker-box {
    background-color: #94C8FF;
    margin-bottom: 2%;
}

.form-control {
    font-size: 1.75vw;
    text-align: center;
    height: 3.5vw;
}

.option {
    font-size: 1.75vw;
    text-align: center;
    display: inline-block;   
}

ul.bullet-text {
    font-size: 2vw;
    margin-bottom: 3.5%;
}

.question {
    padding-left: 2.5%;
    background-color: #7787FF;
    font-family: Roboto;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 3vw;
    box-shadow: 0vw 0.3vw 0.15vw #888888;
}

.answer {
    padding-left: 2.5%;
    background-color: #C6E2FF;
    height: 20vw;
    font-family: Roboto;
    font-weight: 300;
    color: #000000;
    font-size: 3vw;
    box-shadow: 0vw 0.3vw 0.15vw #888888;
}

#faq-row {
    margin-left: 0%;
    margin-right: 0%;
}

#lastfaq-row {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 4%;
}

.form-post {
    margin-top: 2%;
    text-align: center;
    font-size: 1.75vw;
    display: block;
    margin-bottom: 2.5%;
    padding-left: 15%;
    padding-right: 15% 
}

#add-sch {
    margin-top: 1.5%;
    margin-bottom: 2%;
}

#dlt-sch {
    margin-top: 1.5%;
    margin-bottom: 2%;
}

.cont {
    text-align: center;
}

.table-bordered {
    background-color: #FFFFFF !important;
}

.no-event {
    font-size: 3vw;
    font-weight: 500;
}