{% extends 'base.html' %}

{% block content %}
    <div class="page-title" id="top-title">Register Account</div>
    	<div class="page-box">
    		<div class="container mt-3">
    			<form action="#">
				    <div class="input-group mb-3">
				      	<input type="text" class="form-control" placeholder="Full Name" id="name">
				    </div>
				    <div class="input-group mb-3">
				      	<input type="date" class="form-control" placeholder="Date of Birth" id="date-of-birth">
				    </div>
				    <div class="input-group mb-3">
				      	<input type="email" class="form-control" placeholder="E-mail" id="e-mail">
				    </div>
				    <div class="input-group mb-3">
				      	<input type="text" class="form-control" placeholder="Username" id="username">
				    </div>
				    <div class="input-group mb-3">
				      	<input type="password" class="form-control" placeholder="Password" id="pass">
				    </div>
				    <div class="input-group mb-3">
				      	<input type="password" class="form-control" placeholder="Confirm Password" id="confirm-pass">
				    </div>
				    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
				</form>
    		</div>
    	</div>
{% endblock %}