<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        
        <link rel='stylesheet' type='text/css' href="{% static "css/my-site.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div class="top-page">
            <nav class="navbar navbar-expand-sm navbar-light fixed-top">
            	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            		<span class="navbar-toggler-icon"></span>
            	</button>
            	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	                <ul class="navbar-nav">
	                    <li class="nav-item"><a class="nav-link" href="\home">Home</a></li>
	                    <li class="nav-item"><a class="nav-link" href="\aboutme">About Me</a></li>
	                    <li class="nav-item"><a class="nav-link" href="\faq">F.A.Q</a></li>
	                    <li class="nav-item"><a class="nav-link" href="\contacts">Contacts</a></li>
	                    <li class="nav-item"><a class="nav-link" href="\register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="\schedule">Schedule</a></li>
	                </ul>
	            </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>