{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="page-title" id="top-title">About Me</div>
        <div class="page-box">
        	<div class="container-fluid">
                <div class="row" id="me-row">
                    <div class="col">
                        <ul class="bullet-text">
			            	<li>Born in Pekanbaru, July 22nd 1999</li>
			            	<li>I really love cats</li>
			            	<li>I'm a patient person</li>
			            </ul>
			        </div>
			        <div class="col">
                        <ul class="bullet-text">
			            	<li></li>
			            	<li></li>
			            	<li></li>
			            </ul>
			        </div>
			    </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="page-title">Skills</div>
        <div class="page-box" id="darker-box">
        	<div class="container-fluid">
                <div class="row" id="me-row">
                    <div class="col">
                        <ul class="bullet-text">
			            	<li>Excels in Adobe Illustrator</li>
			            	<li>Excels in Paint Tool SAI</li>
			            	<li>Excels in Python and Java</li>
			            </ul>
			        </div>
			        <div class="col">
                        <ul class="bullet-text">
			            	<li></li>
			            	<li></li>
			            	<li></li>
			            </ul>
			        </div>
			    </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="page-title">Achievements</div>
        <div class="page-box">
        	<div class="container-fluid">
                <div class="row" id="me-row">
                    <div class="col">
                        <ul class="bullet-text">
			            	<li>Ranked 10th in province tryout of national exam</li>
			            	<li></li>
			            	<li></li>
			            </ul>
			        </div>
			        <div class="col">
                        <ul class="bullet-text">
			            	<li></li>
			            	<li></li>
			            	<li></li>
			            </ul>
			        </div>
			    </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="page-title">Experiences</div>
        <div class="page-box" id="darker-box">
        	<div class="last-box">
            	<div class="container-fluid">
                    <div class="row" id="me-row">
                        <div class="col">
                            <ul class="bullet-text">
				            	<li>Design & Creative in BETIS 2017</li>
				            	<li>Design & Creative in SIWAK 2018</li>
				            	<li>Academic Division in PMB 2018</li>
				            </ul>
				        </div>
				        <div class="col">
                            <ul class="bullet-text">
				            	<li></li>
				            	<li></li>
				            	<li></li>
				            </ul>
				        </div>
				    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}